* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Asegura un cálculo consistente del tamaño */
}

body, .container, #content, .menu, #button{
  display: flex;
  justify-content: center;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#bbc5fa;
}

.container {
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content: center;
  background-color:#dfc6fd;
  color: #111;
  align-items: stretch;
  box-shadow: inset -0.6px -0.6px 5px rgba(0, 0, 0, .7),
              inset 0.2px 0.2px 1px rgba(0, 0, 0, .7);
  
}

button {
  min-width: 100%;
  min-height: 5.4vh;
}

#button:not(.top):not(.botton) {
  background-color: #e4e6fd;
  display: flex;
  font-size: 2rem;
  min-height: 5.4vh;
  min-width: 3.4vw;
  margin-top: 1.5vh;
  border: 2px solid rgb(116, 116, 116);
  border-radius: 10px;
  box-shadow: inset 3px 3px 5px 4px rgba(255, 255, 255, .2),
              inset -2px -2px 4px rgba(0, 0, 0, .2);

  &:hover {
    border: 2px solid #bb448f;
    transform: scale(1.1); 
  }

  &:active {
    transform: scale(1);
    background-color: rgb(255, 167, 254);
  }

  &.active {
    border: 3px solid #bb448f;
    transform: scale(1.1);
    background-color: rgb(247, 187, 244);
  }
}

.botton {
  margin-top: auto;
  border-radius: 100%;
  transition: transform 1s ease, border .3s ease;

  &:hover {
    transform: rotate(360deg);
  }

  &:active {
    border: 1vh solid #b3c5fc;
  }
}

.top {
  margin-bottom: auto;
  transition: transform .4s ease;

  &:hover {
    transform: scale(1.3);
  }

  &:active {
    transform: scale(1);
  }
}

.botton, .top {
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 2rem;
  min-height: 5.5vh;
  min-width: 5.5vh;
  margin-left: -0.3vw;
}

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#content, .menu {
  font-size: 2.4rem;
  background-color: #bfbdf9;
  align-items: center;
  box-shadow: inset -0.4px -0.4px 2px rgba(0, 0, 0, .7);
  text-shadow: 2px 2px 2px #fff,
               3px 3px 5px rgba(0,0,0,.5);
}

#content {
  background-color: #fff;
  width: 95%;
  margin: 0.5vh 0.5vh 0.5vh 0;
}

.menu {
  min-width: 70px;
  padding: 1vh 2vh;
  width: 5%;
  flex-direction: column;
}

img {
  width: 100%;
  height: 100%;
}

